@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --background-color: #dedede;
  --font-montserrat: "Montserrat";
  --primary-color: #006994;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow-y: scroll;
}

.container {
  padding: 2rem;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.title::before {
  bottom: -20px;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

form {
  width: inherit;
}

img,
audio,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea {
  margin: 1rem 0;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

button {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
}

.created-votes {
  transform: translateX(100%);
  transition: transform 250ms linear;
  padding: 2rem;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.created-votes.active {
  transform: translateX(0%);
}

.vote-list {
  display: block;
  width: 70%;
  margin: 2rem auto;
}

.vote {
  margin: 1rem 0;
  border-radius: 0.3rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.vote-action {
  float: right;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0rem 0.2rem;
  width: min-content;
  border: none;
  border-radius: 0.2rem;
}

.vote-action:nth-child(1) {
  background-color: khaki;
}

.vote-action:nth-child(2) {
  background-color: crimson;
}

.floating-action-button {
  cursor: pointer;
  transition: 250ms;
  z-index: 3;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 5rem;
  width: 5rem;
  background-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.floating-action-button.active {
  background-color: white;
  color: black;
}

button.share {
  background-color: white;
  color: black;
}

.notification-container {
  z-index: 200;
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 60%;
}

.notification {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid white;
  transform: translateY(300%);
  animation: notificationIn 250ms linear forwards;
}

.vote-created {
  gap: 1rem;
  position: absolute;
  z-index: 100;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vote-created.active {
  display: flex;
}

.link {
  cursor: pointer;
  margin-top: 5rem;
  background-color: white;
  padding: 1rem;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
}

.link:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.description {
  text-transform: capitalize;
  margin: 2rem 0;
  text-align: justify;
  line-height: 1.5;
}

.give-vote-list {
  display: none;
  padding: 2rem;
}

.give-vote-list.active {
  display: block;
}

.vote-img {
  width: 250px;
  margin: 2rem 0;
}

@keyframes notificationIn {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .vote-list {
    width: 100%;
  }
}
